/* IE bug fixes
 */

html{ overflow: auto; } /* To eliminate unnecessary vertical scrollbars in IE6/7 */

.navcontainer .toolbar { overflow: hidden; } /* IE6 div height bug */

.iipmooviewer .navcontainer .navbuttons {
  position: relative;
  z-index: -1;
  filter: alpha(opacity = 60);
  zoom: 1;
}

/* Need to manually fix icon sizes if we reload onerror */
.iipmooviewer .navcontainer .navbuttons img {
  width: 17px; 
  height: 17px;
}

/* Reset button is slightly taller */
.iipmooviewer .navcontainer .navbuttons img.reset {
  height: 18px;
  width: 18px;
}

.iipmooviewer .info div {
  #position: absolute; /*IE6,7 Hack for vertical centering*/
  #top: 50%;
}

.iipmooviewer .info div div { #top: -50%; } /*IE6,7 Hack for vertical centering*/

.navwin .zone {
  font-size: 2pt; /* Bug fix for IE6 for empty divs! */
  filter: alpha(opacity = 40);
}

.iipmooviewer .scale {
  filter: alpha(opacity = 65);
  bottom: 10px;
  left: 10px;
  text-align: center;
  #width: auto;
  _width: 0;  /* Fix IE6 scale width problem */
}
.iipmooviewer .scale:hover { filter: alpha(opacity = 100); }

.iipmooviewer .scale .ruler {
  font-size: 2pt; /* Bug fix for IE6 for empty divs! */
  margin: 0;
}

.iipmooviewer .credit { filter: alpha(opacity = 60); }
.iipmooviewer .credit:hover { filter: alpha(opacity = 90); }

.iipmooviewer .message { filter: alpha(opacity = 70); }

.tip {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/* On IE, the mouseleave event is triggered on traversal of the annotation border, so add 
   a transparent background so that it does not trigger inside the div itself */
.iipmooviewer .canvas .annotation {
  background-image: url(images/blank.gif);
  opacity: 1;
}

/* IE7 interpolation fix */
img { -ms-interpolation-mode: bicubic; }

/* Blending box */
div.blending{ filter: alpha(opacity=60) }
div.blending:hover{ filter: alpha(opacity=100) }
